@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.div { 
   
    width: 70%;
    height: 30%;
    margin-left: 10%;
    margin-top: 15%;
    display: flex;
    padding:left 10%;
    border-color: red blue green;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-radius: 10%;
    border-color: #0fec21;
    background-image: url(../../imagenes/812062.png);
    background-size: cover;
    
  @media only screen and (max-width: 400px) {
    widht: 100px
      
  }
    
  }




.h1 {
  
    font-family: 'Rick';
    font-size: 2em;
    margin-top: 0.5%;
    margin-left: -35%;
    position:absolute;
    color:bisque;
    
}
.image {
    margin-top: 6%;
    margin-bottom: 1%;
    border: #0fec21 solid 1px;
    border-radius: 10%;
      
}




.div2 {
    width: 30%;
    flex-direction: column;
    text-align: center;
    font-size: 2em ;
    font-style: oblique;
    background-color: blanchedalmond;
   
}
