.app {
  width: 100%;
  height: 100% ;
  display: flex;
  background-position: fixed;
  flex-direction: column;
  justify-content:flex-start ;
  background-image: url('./imagenes/YHAUBUYW75FZVLG4Z4WL5S6LMY.jpg');
  background-size: cover;

  background-attachment: fixed;
  
}

@font-face {
  font-family: 'rick';
  src: url('./font/get-schwifty.ttf');
}

.global {
  width: 100%;
  height: 100%;
  border: 1px solid #6b2626;
  display: flex;
  
  margin-top: 150px;
 
}
